body {
background-color: #04AA6D;
font-family: Calibri;
margin: 0px;
}

/*Marge - Page*/
.ex1 {
background-color: #F0F0F0;
font-family: Calibri;
margin : 0px 0px 40px 40px;
}

/*Calendrier*/
.ex2 {
th, td { 
    font-weight: bold;
	font-size: 32px;
}
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

ul { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  background-color: #333; 
} 
li { 
  float: left; 
} 
li a { 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
} 
li a:hover:not(.active) { 
  background-color: #111; 
} 
.active { 
  background-color: #04AA6D; 
}

/*Géolocalisation - Eddy*/
#map{
	height: 400px;
}

/*Calendrier - Osama*/
table {
    border-collapse: collapse;
    background: white;
    color: black;
}